@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<nav class="navbar-wrap">
    <div class="menubar-footer">
        <a href="visitor">
            <button class="btn-menubar">
                <i class="fa fa-user text-dark menu-icon @GetActiveClass("visitor")"></i>
                <span class="text-dark menu-title @GetActiveClass("visitor")">Visitor</span>
            </button>
        </a>
        <a href="meeting">
            <button class="btn-menubar">
                <i class="fas fa-building text-dark menu-icon @GetActiveClass("meeting")"></i>
                <span class="text-dark menu-title @GetActiveClass("meeting")">Meeting</span>
            </button>
        </a>
        <a href="rules">
            <button class="btn-menubar">
                <i class="fa fa-file text-dark menu-icon @GetActiveClass("rules")"></i>
                <span class="text-dark menu-title @GetActiveClass("rules")">Rules</span>
            </button>
        </a>
    </div>
</nav>

@code {
    private string GetActiveClass(string page)
    {
        return Navigation.Uri.Contains(page) ? "active-menu" : "";
    }
}
